.postCard {
	display: flex;
	min-height: 220px;
	padding: 10px;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	align-self: stretch;
	border-radius: 8px;
	border: 1px solid #27272a;
	background: #1a1a2e;
}
.imageAndTextDiv {
	display: flex;
	align-items: flex-start;
	gap: 10px;
	flex-direction: row;
	align-self: stretch;
}
.tagAndLikesDiv {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;
}
.imageAndTextDiv img {
	display: flex;
	width: 300px;
	height: 200px;
	padding: 10px;
	align-items: flex-start;
	gap: 10px;
	border-radius: 4px;
}
.headP {
	display: flex;
	padding: 2px;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	flex: 1 0 0;
	align-self: stretch;
}
.imageAndTextDiv {
	color: #e4e4e7;
	font-family: Ubuntu;
	font-size: 19px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
.descP {
	flex: 1 0 0;
	align-self: stretch;
	color: #a1a1aa;
	font-family: Ubuntu;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.tagsDiv {
	display: flex;
	padding: 10px;
	align-items: center;
	gap: 5px;
	align-self: stretch;
}
.tagsP {
	color: #71717a;
	font-family: Ubuntu;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.likesDiv {
	display: flex;
	padding: 2px 0;
	justify-content: center;
	align-items: center;
	gap: 2px;
	align-self: stretch;
}
.likesDiv p {
	color: #a1a1aa;
	font-family: Ubuntu;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
