.mainParametersDiv{
    position: relative;
    display: flex;
    width: 380px;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    align-self: stretch;
}
.mainParametersDiv > input{
    display: flex;
    width: 380px;
    height: 46px;
    padding: 10px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #27272A;
    background: #1A1A2E;
    color: #E4E4E7;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 46px;
    outline: none;
}
.mainParametersDiv > input::placeholder{
    color: #71717A;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.mainParametersDiv > img{
    position: absolute;
    left: 10px;
    top: 10px;
}
.ParamsSide{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.Params{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #27272A;
    background: #1A1A2E;
    width: 380px;
}
.Params > p{
    color: #A1A1AA;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.ParamsTagsDiv{
    display: flex;
    height: 300px;
    padding: 5px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid #3F3F46;
}
.tagsTopBar{
    display: flex;
    padding: 5px 2px;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    position: relative;
}
.tagsTopBar > div{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.tagsTopBar > div > p{
    color: #A1A1AA;
    font-family: Ubuntu;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.tagsTopBar > div > input{
    display: flex;
    height: 26px;
    padding: 10px;
    padding-left: 36px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 4px;
    border: 1px solid #27272A;
    background: #1A1A2E;
    width: 260px;
    outline: none;
}
.smallLoupe{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 96px;
    top: 10px;
}
.TagDiv{
    display: flex;
    height: 29px;
    padding: 2px;
    align-items: center;
    gap: 5px;
    min-width: 168.1px;
}
.TagsDiv{
    /* display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    overflow-y: auto;
}
.TagsDiv::-webkit-scrollbar{
    display: none;
}
.TagDiv > p{
    color: #A1A1AA;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.TagDiv > img{
    cursor: pointer;
}
.likesDiv{
    display: flex;
    padding: 5px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid #3F3F46;
    height: fit-content;
}
.likesDivTopBar{
    display: flex;
    padding: 0 2px;
    align-items: center;
    gap: 5px;
}
.likesDivParams{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    height: fit-content;
}
.likesDivTopBar > img{
    width: 20px;
    height: 20px;
}
.likesDivTopBar > p{
    display: flex;
    width: 145px;
    height: 28px;
    flex-direction: column;
    justify-content: center;
    color: #A1A1AA;
    font-family: Ubuntu;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.likeDiv{
    display: flex;
    width: 170px;
    padding: 2px;
    align-items: center;
    gap: 5px;
    height: fit-content;
    cursor: pointer;
}
.displaynone{
    display: none;
}