.listOfPosts {
	display: flex;
	width: 700px;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	flex-shrink: 0;
	align-self: stretch;
	overflow-y: auto;
	max-height: 100%;
}
.listOfPosts::-webkit-scrollbar {
	display: none;
}
.listOfPosts::-webkit-scrollbar-button {
	display: none;
}
.listOfPosts::-webkit-scrollbar-corner {
	display: none;
}
.listOfPosts::-webkit-scrollbar-track {
	display: none;
}
.preloaderpostsDiv{
	width: 700px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: fit-content;
}
.preloaderpostsDiv svg{
	width: 276px;
	height: 153px;
}
.errorMessage{
	width: 700px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: fit-content;
	background: #1A1A2E;
	height: 60px;
	border: 1px solid #27272A;
	border-radius: 8px;
	padding: 10px;
}
.errorMessage p{
	font-size: 24px;
	color: #E4E4E7;
}