.footer{
    display: flex;
    height: 66px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
    background: #16161F;
    width: 100vw;
}
.footer > nav{
    display: flex;
    width: 1096px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    align-self: stretch;
}
.footer > nav > a:first-child {
    width: 36px;
    height: 36px;
    border-radius: 123px;
    background: url() lightgray 50% / cover no-repeat;
}
.footer > nav > a:nth-child(2) {
    width: 36px;
    height: 36px;
    border-radius: 123px;
    background: url() lightgray 50% / cover no-repeat;
}