.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
}
.centeredContent{
    display: flex;
    width: 1096px;
    padding: 10px 0;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
}
.mainMessage{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #27272A;
    background: #1A1A2E;
}
.mainMessage p {
    align-self: stretch;
    color: #E4E4E7;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 151.921%;
    letter-spacing: 1px;
}
.technologia{
    display: flex;
    height: 300px;
    min-height: 300px;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #27272A;
    background: #1A1A2E;
}
.technologia > p{
    align-self: stretch;
    color: #A1A1AA;
    font-family: Ubuntu;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 1.05px;
}
.bothSidesTech{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
}
.frontEnd{
    display: flex;
    padding: 5px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid #52525B;
}
.backEnd{
    display: flex;
    padding: 5px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid #52525B;
}
.frontEnd > p:first-child{
    color: #E4E4E7;
    font-family: Ubuntu;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 155%;
    letter-spacing: 1.05px;
}
.backEnd > p:first-child{
    color: #E4E4E7;
    font-family: Ubuntu;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 155%;
    letter-spacing: 1.05px;
}
.frontEnd > p:not(:first-child){
    color: #E4E4E7;
    font-family: Ubuntu;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 1.05px;
}
.backEnd > p:not(:first-child){
    color: #E4E4E7;
    font-family: Ubuntu;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 1.05px;
}
.backEnd > p:not(:first-child) > span{
    color: #A1A1AA;
}
.frontEnd > p:not(:first-child) > span{
    color: #A1A1AA;
}