.mainParametersDiv{
    position: relative;
    display: flex;
    width: 380px;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    align-self: stretch;
}
.mainParametersDiv > input{
    display: flex;
    width: 380px;
    height: 46px;
    padding: 10px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #27272A;
    background: #1A1A2E;
    color: #E4E4E7;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 46px;
    outline: none;
}
.mainParametersDiv > input::placeholder{
    color: #71717A;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.mainParametersDiv > img{
    position: absolute;
    left: 10px;
    top: 10px;
}
.Params{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #27272A;
    background: #1A1A2E;
    width: 380px;
}
.Params > p{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #27272A;
    background: #1A1A2E;
}
.Params > div{
    display: flex;
    height: 300px;
    padding: 5px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid #3F3F46;
}
.tagsTopBar{
    display: flex;
    padding: 5px 2px;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}
.tagsTopBar > div{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.tagsTopBar > div > p{
    color: #A1A1AA;
    font-family: Ubuntu;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.smallLoupe{
    width: 16px;
    height: 16px;
}