@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.ubuntu-light {
	font-family: "Ubuntu", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.ubuntu-regular {
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.ubuntu-medium {
	font-family: "Ubuntu", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.ubuntu-bold {
	font-family: "Ubuntu", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.ubuntu-light-italic {
	font-family: "Ubuntu", sans-serif;
	font-weight: 300;
	font-style: italic;
}

.ubuntu-regular-italic {
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
	font-style: italic;
}

.ubuntu-medium-italic {
	font-family: "Ubuntu", sans-serif;
	font-weight: 500;
	font-style: italic;
}

.ubuntu-bold-italic {
	font-family: "Ubuntu", sans-serif;
	font-weight: 700;
	font-style: italic;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Ubuntu";
}
body {
	display: flex;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	background: #0f0f1a;
	overflow-x: hidden;
	overflow-y: hidden;
}
#root {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
